@import "tailwindcss";

@font-face {
  font-family: "Rocoleta";
  src: url("/fonts/Recoleta.otf")
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir.otf")
}

.rocoleta {
  font-family: "Rocoleta" !important;
}

.avenir {
  font-family: "Avenir" !important;
}

body {
  background-color: #fcf5ef;
  /* background-color: black;
  color: white; */
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-wrapper input[type="checkbox"]:checked+.custom-checkbox,
.checked {
  background-color: black;
  color: white;
}

.checked::after {
  content: '✔';
  font-size: 14px;
  padding-top: 3.5px;
}

.checkbox-wrapper input[type="checkbox"]:checked+.custom-checkbox::after {
  content: '✔';
  font-size: 14px;
  padding-top: 3.5px;
}

.checkbox-wrapper input[type="checkbox"]:focus+.custom-checkbox {
  outline: 2px solid #999;
  outline-offset: 2px;
}

.checked {
  background-color: gray !important;
  border-color: gray;
}

.slim-slider::-webkit-scrollbar-track {
  background: transparent;
}

.slim-slider::-webkit-scrollbar {
  width: 6px;
}

.slim-slider::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}